<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="4194304" />
    <authentication mode="Forms">
      <forms name=".login" loginUrl="Default.aspx" path="/" timeout="45" protection="All">
        <credentials passwordFormat="Clear">
          <user name="Admin" password="admin" />
          <user name="Supervisor" password="super" />
        </credentials>
      </forms>
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <sessionState mode="InProc" timeout="60" useHostingIdentity="false" cookieless="false"></sessionState>
    <customErrors defaultRedirect="error500.aspx" mode="Off" redirectMode="ResponseRewrite">
      <error statusCode="401" redirect="acceso.html" />
      <error statusCode="404" redirect="notfound.html" />
      <error statusCode="500" redirect="interno.html" />
    </customErrors>
  </system.web>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <httpErrors errorMode="Custom">
      <remove statusCode="404" />
      <error statusCode="404" path="notfound.html" responseMode="ExecuteURL" />
      <remove statusCode="401" />
      <error statusCode="401" path="acceso.html" responseMode="ExecuteURL" />
      <remove statusCode="500" />
      <error statusCode="500" path="interno.html" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
  
  <location path="Private">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>